!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %link{ href: 'https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700|IBM+Plex+Sans:400,700', rel: 'stylesheet' }
    %title Curricle

    / Hotjar Tracking Code for https://curricle.berkman.harvard.edu
    :javascript
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1145400,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

  %body
    .container-fluid.px-0
      #app

    - if current_user.present?
      :javascript
        localStorage.setItem('curricle_api_token', '#{current_user.api_token}')
        localStorage.setItem('curricle_schedule_token', '#{current_user.schedule_token}')
    - else
      :javascript
        localStorage.removeItem('curricle_api_token')
        localStorage.removeItem('curricle_schedule_token')

    :javascript
      localStorage.setItem('curricle_data_updated_at', '#{Course.last.updated_at.strftime("%F")}')

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

    :css
      body {
        font-family: 'IBM Plex Sans'
      }

      .pointer {
        cursor: pointer;
      }

      .tray-course,
      .schedule-course {
        color: #999;
        fill: #999;
        font-style: italic;
        font-weight: bold;
      }

      .schedule-course {
        color: inherit;
        fill: inherit;
      }
